In [1]:
# pip install ics, pandas, numpy, datetime, pytz

In [2]:
import pandas as pd
import numpy as np
from ics import Calendar, Event
import datetime
import pytz

datetime_nl = datetime.datetime.now()

In [3]:
df = pd.read_excel("timetable.xlsx",sheet_name="2024")

In [4]:
df

        Datum Location Task1 Task2
0  2024-09-05       D      J     E
1  2024-09-17        C    D      J
2  2024-10-01       K      C    D
3  2024-10-15        F     K     C
4  2024-10-29        J     F     K
5  2024-11-12       D      J     F
6  2024-11-19        C    D      J
7  2024-12-03       K      C    D
8  2024-12-17        F     K     C
9  2025-01-14        J     F     K
10 2025-01-28       D      J     F
11 2025-02-11        C    D      J
12 2025-02-25       K      C    D
13 2025-03-04        F     K     C
14 2025-03-18        E     F     K
15 2025-04-01        J     E     F
16 2025-04-15       D      J     E
17 2025-04-29        C    D      J
18 2025-05-13       K      C    D
19 2025-05-27        F     K     C
20 2025-06-10        E     F     C
21 2025-06-24        J     E     F

In [5]:
adressen = {
        "D": "stevinweg 1, Delft, Netherlands",
        "C": "stevinweg 2, Delft, Netherlands",
        "K": "stevinweg 3, Delft, Netherlands",
        "F": "stevinweg 4, Delft, Netherlands",
        "J": "stevinweg 5, Delft, Netherlands",
        "E": "stevinweg 6, Delft, Netherlands",
        }

In [6]:
c = Calendar()
for index, row in df.iterrows():
    e = Event()

    # change title of event:
    e.name = f"Event at {row['Location']}"
    e.location = adressen[row['Location'].strip()]

    # For instance Start at 18:30, but ensure local time which then convert to UTC
    begin_time = datetime.datetime.strptime(f"{row['Datum'].date()} 18:30:00",'%Y-%m-%d %H:%M:%S')
    begin_time = pytz.timezone('Europe/Paris').localize(begin_time)
    e.begin = begin_time.astimezone(pytz.utc)

    # repeat for endtime
    end_time = datetime.datetime.strptime(f"{row['Datum'].date()} 23:59:00",'%Y-%m-%d %H:%M:%S')
    end_time = pytz.timezone('Europe/Paris').localize(end_time)
    e.end    = end_time

    # adjust description accordingly
    e.description = f"Task1: {row['Task1']}\nTask2: {row['Task2']}"
    c.events.add(e)
    c.events

In [7]:
fname = f'timetable_v{str(datetime.datetime.now().date())}.ics'
with open(fname, 'w') as my_file:
    my_file.writelines(c.serialize_iter())

In [8]:
output = []
with open(fname, 'r') as my_file:
    for index, line in enumerate(my_file):
        output.append(line)
output[:15]

['BEGIN:VCALENDAR\n',
 '\n',
 'VERSION:2.0\n',
 '\n',
 'PRODID:ics.py - http://git.io/lLljaA\n',
 '\n',
 'BEGIN:VEVENT\n',
 '\n',
 'DESCRIPTION:Task1: D \\nTask2: J\n',
 '\n',
 'DTEND:20241119T225900Z\n',
 '\n',
 'LOCATION:stevinweg 2\\, Delft\\, Netherlands\n',
 '\n',
 'DTSTART:20241119T173000Z\n']